<table>
	<thead>
		<tr>
			<td ng-click="sortData('name')">Name <span ng-class="getSortClass('name')"></span></td>
			<td ng-click="sortData('birth')">Day of Birth <span ng-class="getSortClass('birth')"></span></td>
			<td ng-click="sortData('gender')">Gender <span ng-class="getSortClass('gender')"></span></td>
			<td ng-click="sortData('salary')">Salary (number) <span ng-class="getSortClass('salary')"></span></td>
			<td ng-click="sortData('salary')">Salary (currency) <span ng-class="getSortClass('salary')"></span></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='employee in employees | limitTo:rowLimit:1 | orderBy:sortColumn:reverseSort'>
			<td>{{employee.firstName}}</td>
			<td>{{employee.birth | date:'dd/MM/yyyy'}}</td>
			<td>{{employee.gender}}</td>
			<td>{{employee.salary | number:2}}</td>
			<td>{{employee.salary | currency:'&pound;':1}}</td>

		</tr>
	</tbody>
</table>