<html ng-app="myModule">
<head>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>  -->

<script src="./scripts/angular.min.js"></script>
<script src="./scripts/myScript.js"></script>
<script src="./scripts/angular-route.min.js"></script>
<script src="./scripts/filters.js"></script>
<script src="./scripts/services.js"></script>
<base href="./" />
<link rel="stylesheet" href="./style/myStyle.css" > 
</head>
<body>
	<div id="main" ng-controller="myController">
		
		<div>
			<h1> Two way binding</h1>
			<p>When the view is updated the model is updated  </p>
			<input type="text" ng-model="location.name" />
			<p>{{ location.name }}</p>
			<!-- two way data binding ends -->

			<p>{{ location.capital }}</p>
			<p>{{ greeting }}</p>
			<img ng-src="{{ location.flag }}" alt="{{ location.name + " Flag"}} "/>
		</div>

		<div>
			<h1>Iteration</h1>
			<table>
				<thead>
					<tr>
						<td>firstname</td>
						<td>lastname</td>
						<td>gender</td>
						<td>salary</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="employee in employees"> 
							<td>{{ employee.firstName }}</td>
							<td>{{ employee.lastName }}</td>
							<td>{{ employee.gender }}</td>
							<td>{{ employee.salary }}</td>
						</tr>
				</tbody>
			</table>

			<h3>Parent and Child index</h3>
			<ul>
				<!-- to get parent index -->
				<!-- $parent.$index or ng-init="parentIndex = $index"  -->
				<li ng-repeat="country in countries" ng-init = "parentIndex = $index" > 
					{{ country.name }} - index = {{ $index }}
					<ul>
						<li ng-repeat = "city in country.cities" >
							<br /> ParentIndex Method 1 --- index =  {{ $parent.$index }}
							<br />ParentIndex Method 2 --- index = {{ parentIndex }}
							<br />Loop Method -- {{ city.name }} -  index = {{ $index }}
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div>
			<h3>Event handler </h3>
			<p>name -- Likes --  Dislikes -- Like/Dislike</p>
			<p ng-repeat="technology in technologies">
				{{ technology.name }} 
				{{ technology.likes }}
				{{ technology.dislikes }}
				<input type="button" value="Like" ng-Click="incrementLikes(technology)" />
				<input type="button" value="Dislike" ng-Click="incrementDislikes(technology)" />
			</p> 
		</div>

		<div>
			<h1>Filters</h1>
			<p>Filter can format, sort and filter data</p>
			<p>Filter can be used with a binding expression or a directive</p>
			<p>To apply filter use | (pipe) character</p>
			<p>{{ expression }} | filterName: parameter</p>
			<p>Filter for formatting data
				lowercase, uppercase, number, currency,date
			</p>
			<p>limitTo filter: limit num of rows or chars in string
				{{ expression | limitTo: limit : begin }}
			</p>

			<hr>

			Rows to display: <input type="number" step="1" min="0" max="4" ng-model="rowLimit" />
			<br /><br />
			Order By: <select ng-model="sortColumn">
						<option value="name">name</option>
						<option value="birth">birth</option>
						<option value="gender">gender</option>
						<option value="salary">salary</option>
					  </select>
			<table>
				<thead>
					<tr>
						<td ng-click="sortData('name')">Name <span ng-class="getSortClass('name')"></span></td>
						<td ng-click="sortData('birth')">Day of Birth <span ng-class="getSortClass('birth')"></span></td>
						<td ng-click="sortData('gender')">Gender <span ng-class="getSortClass('gender')"></span></td>
						<td ng-click="sortData('salary')">Salary (number) <span ng-class="getSortClass('salary')"></span></td>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | limitTo:rowLimit:1 | orderBy:sortColumn:reverseSort">
						<td>{{employee.firstName}}</td>
						<td>{{employee.birth | date:"dd/MM/yyyy"}}</td>
						<td>{{employee.gender}}</td>
						<td>{{employee.salary | number:2}}</td>
						<td>{{employee.salary | currency:"&pound;":1}}</td>

					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<table>
				<thead>
					<tr ng-repeat="a in animal | limitTo:1">
						<td ng-repeat="(k,v) in a" ng-click="animalSortData(k)">
							{{ k }} <span ng-class="getAnimalSortClass(k)"></span>
						</td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="a in animal | orderBy:animalSortColumn:animalreverseSort">
						<td ng-repeat="(k,v) in a" >{{ v }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h1>Searching...</h1>
			Search <input type="text" placeholder="Search employee" ng-model="searchEmployee.firstName" />
			<input type="checkbox" ng-model="exactMatch"/> ExactMatch
			<table>
				<thead>
					<tr>
						<td>firstname</td>
						<td>lastname</td>
						<td>gender</td>
						<td>salary</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="employee in employees | filter:searchEmployee:exactMatch"> 
							<td>{{ employee.firstName }}</td>
							<td>{{ employee.lastName }}</td>
							<td>{{ employee.gender }}</td>
							<td>{{ employee.salary }}</td>
						</tr>
				</tbody>
			</table>


			<h3>Search first and last name only</h3>
			<input type="text" placeholder="Search in first and last name" ng-model="searchEmployee2"/>
			<table>
				<thead>
					<tr>
						<td>firstname</td>
						<td>lastname</td>
						<td>gender</td>
						<td>salary</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter:employeeSearch"> 
						<td>{{ employee.firstName }}</td>
						<td>{{ employee.lastName }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.salary }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h1> Custom Filter</h1>
			<h3>Change data 1 to be mail, 2 as femail, 3 as undiscolsed</h3>
			<p>Filter is a function that return another function</p>
			<p>See filters.js for details</p>
				<table>
				<thead>
					<tr>
						<td>firstname</td>
						<td>lastname</td>
						<td>gender</td>
						<td>salary</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="employee in employees"> 
							<td>{{ employee.firstName }}</td>
							<td>{{ employee.lastName }}</td>
							<td>{{ employee.genderSub | gender }}</td>
							<td>{{ employee.salary }}</td>
						</tr>
				</tbody>
			</table>
		</div>


		<div>
			<h1>ng-hide & ng-show</h1>
			<p>Show and hide html elements</p>
			<p>Click hide and show to display salary column</p>
		
			<input type="checkbox" ng-model="hideSalary" /> Hide Salary<br /><br />
			<table>
				<thead>
					<tr>
						<td>firstname</td>
						<td>lastname</td>
						<td>gender</td>
						<td ng-hide="hideSalary">salary</td>
						<td ng-show="hideSalary">salary</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="employee in employees | filter:searchEmployee:exactMatch"> 
							<td>{{ employee.firstName }}</td>
							<td>{{ employee.lastName }}</td>
							<td>{{ employee.gender }}</td>
							<td ng-hide="hideSalary">{{ employee.salary }}</td>
							<td ng-show="hideSalary">####</td>
						</tr>
				</tbody>
			</table>
		</div>

		<div ng-init="
			employee = [
				{name:'Mike',age:121},
				{name:'Houston',age:52},
				{name:'Jackson',age:32}
			]
			
		">
			<h1>ng-init directive</h1>
			<p>Allow you to evaluate an expression in current scope</p>
			<table>
				<thead>
					<tr>
						<td>Name</td>
						<td>Age</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="e in employee"> 
							<td>{{ e.name }}</td>
							<td>{{ e.age }}</td>
						</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h1>ng-include directive</h1>
			<p>ng-include is to embed an html page into another html page</p>
			<p>This technologies is to resue a specific view in multiples pages in your application</p>
			Select View:
			<select ng-model="employeeView">
				<option value="{{ employee_table_view }}">Table View</option>
				<option value="{{ employee_list_view }}">List View</option>
			</select>
			<span ng-include="employeeView"></span>
		</div>

		<div>
			<h1>Http request json obj from sql server<h2>
			<table>
				<thead>
					<tr>
						<td>Name</td>
						<td>Age</td>
					</tr>
				</thead>
				<tbody>
						<!-- foreach loop -->
						<tr ng-repeat="obj in sqlServerJsonObj"> 
							<td>{{ obj.name }}</td>
							<td>{{ obj.age }}</td>
						</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h1>Writing Custom Service</h1>
			<input type="text" ng-model="input" /><br/>
			<input type="text" ng-model="output"/><br />
			<input type="button" ng-click="strUpdate(input)" value="Update text"/>
		</div>

		<div>
			<h1>Scrolling</h1>
			<button id="long_p_top" ng-click="scrollTo('long_p_bottom')">Go to Bottom</button>
			<div id="long_p"><p> static content</p></div>
			<button id="long_p_bottom" ng-click="scrollTo('long_p_top')">Go to Top</button>

			<button ng-click="schollToFieldset('usa')">USA</button>
			<button ng-click="schollToFieldset('india')">India</button>
			<button ng-click="schollToFieldset('uk')">UK</button>
			
			<div class="short_div">
				<fieldset id="usa">
					<legend>USA</legend>
					<p class="long_p"> USA content</p>
				</fieldset>

				<fieldset id="india">
					<legend>India</legend>
					<p class="long_p"> India content</p>
				</fieldset>

				<fieldset id="uk">
					<legend>UK</legend>
					<p class="long_p"> UK content</p>
				</fieldset>
			</div>
		</div>


		<div>
			<h1>Angular routing</h1>
			<p>To remote #,enable html5mode routing</p>
			<span id="route_left_panel">
				<a href="#/home">Home</a>
				<a href="#/courses">Courses</a>
				<a href="#/schedule">Schedule</a>
				<a href="#/students">Students</a>
			</span>

			<span id="route_right_panel">
				<ng-view></ng-view>
			</span>

			<span class="empty">&nbsp;</span>
		</div>

		<div>
			<h1>Nested Scopes & Controller as Syntax</h1>
			<span ng-controller="level1 as l1">
				{{ l1.name }}
				<span ng-controller="level2 as l2">
					{{ l2.name }}
					<span ng-controller="level3 as l3">
						{{ l3.name }}
					</span>
				</span>
			</span>	
		</div>

		<div>
			<h1>Angular route Reload</h1>
			<p>Reload just the current route instead of the entire app</p>
			<p>update the "serverjobjstudents.html"  and click Angular routing students reload button to see the result.
		</div>

		<div>
			<h1>$scope vs $rootScope</h1>
			<p>$rootScope is avalible globally for all controller</p>
			<p>$scope only avalible to controller that's created and its children</p>
			
			<div ng-controller="redColorController">
				RootScope : {{ shareColor }}<br />
				Scope : {{ redColor }}<br />
				Scope : 
					<span ng-show="greenColor == undefinded" style="color:red;">Green is not definded</span>
					<br /><br />
			</div>
			<div ng-controller="greenColorController">
				RootScope : {{ shareColor }}<br />
				Scope : {{ greenColor }}<br />
				Scope : 
					<span ng-show="redColor == undefinded" style="color:red;">Red is not definded</span>
			</div>	
		</div>

		<div>
			<h1>AngularJs rouate - resolve property</h1>
			<p>1. The resolve property contains one or more promises that must resolve successfully before transitioning to the new route</p>
			<p>2. The property names used in the route->resolve property can be injected into the controller. This means the controller does nto have to fetch the data.

			<p>See studentsController route resolve for example</p>
		</div>

		</div>
		<!-- end of Main div  ng-controller -->
	
	<div id="footer"></div>

	</div>
</body>
</html>
