<!DOCTYPE html>
<html>
<head>

<script src="./scripts/jquery-3.1.0.min.js"></script>
<script src="./scripts/myScript.js"></script>
<link rel="stylesheet" href="./style/myStyle.css" > 
</head>
<body>

<div>
Toy Story is a 1995 American computer-animated buddy comedy adventure film produced by Pixar Animation Studios and released by Walt Disney Pictures. Directed by John Lasseter at his directorial debut, Toy Story was the first feature-length computer-animated film and the first theatrical film produced by Pixar. Toy Story follows a group of anthropomorphic toys who pretend to be lifeless whenever humans are present, and focuses on the relationship between Woody, a pullstring cowboy doll (voiced by Tom Hanks), and Buzz Lightyear, an astronaut action figure (voiced by Tim Allen). The film was written by Lasseter, Andrew Stanton, Joe Ranft, Pete Docter, Joel Cohen, Alec Sokolow and Joss Whedon, and features music by Randy Newman. Its executive producers were Steve Jobs and Edwin Catmull. It was released in theatres November 22, 1995.
</div>

</body>
</html>
